@charset "utf-8";
@import "../theme/v1/variable";

main {
  background-color: #fff;
}

.eos-info {
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin: 0 auto;
}

.eos-main {
  padding-top: 20px;
  text-align: center;
  border-top: 1px dashed #e6e6e6;

  .eos-logo {
    margin-top: 20px;
    border-radius: 100%;

    &-small {
      width: 80px;
      height: 80px;
    }
  }

  .go-active {
    a {
      color: $danger-color;
      text-decoration: underline;
    }
  }

  a.active-btn {
    display: block;
    width: 100px;
    height: 30px;
    margin: 10px auto;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background-color: $danger-color;
    text-decoration: none;
  }

  .translate-log-title {
    position: relative;
    z-index: 1;

    .log-line {
      width: 100%;
      height: 1px;
      background-color: #e6e6e6;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      z-index: -1;
    }

    .log-title {
      width: 80px;
      background-color: #fff;
      text-align: center;
      color: $color-first;
      margin: 0 auto;
      font-size: 14px;
    }

    .log-option {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      background-color: #fff;
      width: 100px;
    }
  }
}

.no-result {
  font-size: 12px;
  padding: 0;
  color: $color-second;
}

.account {
  width: 160px;
  position: relative;
  height: 40px;
  line-height: 40px;

  .avatar {
    position: absolute;
    top: 5px;
    left: 0;
    width: 30px;
    height: 30px;
  }

  .current-account {
    text-align: center;
    font-size: 18px;
    overflow: hidden;
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .account-arrow {
    position: absolute;
    width: 10px;
    height: 30px;
    line-height: 30px;
    top: 5px;
    right: 0;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.account-container {
  position: relative;
  width: 160px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;

  i {
    font-size: 20px;
  }

  .account-list {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    padding: 0 10px;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 190px;
    max-height: 240px;
    z-index: 99;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      width: 100%;
      position: relative;
      margin: 0;
      padding: 0;
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      color: #fff;
      cursor: pointer;

      .selected {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        line-height: 47px;
      }

      .account-item {
        position: relative;
        width: 100%;
        padding: 0 0 0 25px;

        .avatar-small {
          top: 10px;
          left: 25px;
          position: absolute;
          width: 20px;
          height: 20px;
        }

        .account-name {
          width: 100%;
          padding-left: 25px;
          font-size: 16px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .is-import {
        position: absolute;
        width: 35px;
        top: 0;
        right: 5px;
        color: $primary-color;
      }
    }

    .operate-item {
      height: 30px;
      line-height: 30px;
    }
  }
}

.dashed-line {
  width: 100%;
  height: 0;
  border-bottom: 1px dashed #e6e6e6;
}

.more {
  position: relative;
  margin-top: 10px;

  span {
    display: flex;
    width: 40px;
    height: 40px;
    cursor: pointer;
    align-items: center;

    i {
      font-size: 20px;
    }
  }

  &-btn {
    justify-content: flex-end;
  }

  .more-list {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 40px;
    right: 0;
    width: 160px;
    padding: 0 10px;
    border-radius: 8px;

    .icon-img {
      vertical-align: middle;
    }

    li {
      width: 100%;
      margin: 0;
      padding: 0;
      line-height: 40px;
      color: #fff;
      font-size: 16px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.btn-group {
  position: relative;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  .charge {
    width: 130px;
  }
}

.action-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;

  .button {
    width: 130px;
  }
}

.translate-container {
  margin: 0 -15px;
}

.translate-list {
  position: relative;
  height: 200px;
  padding: 0 15px;
}

.eos-style {
  line-height: 1.6;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: normal;
  color: $warning-color;
}

.warning-tip {
  font-size: 12px;
  color: $danger-color;
}

.key-container {
  margin-top: 15px;
  background: $bg-shallow;
  border-radius: 8px;
  padding: 10px 5px;
  line-height: 1.6;
}

.copy-btn {
  width: 132px;
  font-size: 14px;
  height: 36px;
  line-height: 26px;
}

.token-title {
  position: relative;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-bottom: 1px dashed #e6e6e6;

  .token-user {
    display: inline-block;
    font-size: 18px;
    width: 100%;
    padding-right: 40px;
    padding-left: 15px;
  }

  .close-drawer {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 15px;
    line-height: 35px;
    height: 30px;
    cursor: pointer;
  }
}

.assets {
  position: relative;
  height: 440px;

  ul {
    padding: 0 15px;
    margin-top: 20px;
  }

  li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-shallow;
    margin-bottom: 15px;
    padding: 0 15px;
    height: 50px;
    cursor: pointer;
    border-radius: 4px;

    &:last-child {
      margin-bottom: 0;
    }

    .asset-value {
      color: $warning-color;
    }

    .asset-name {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      span {
        padding-left: 10px;
      }
    }
  }
}
